body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.container {
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  width: 960px;
  border: 2px solid red;
}

.square {
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  padding-top: 8px;
  flex-shrink: 0;
  color: grey;
}
